.heading {
  margin-top: 133px; }
.heading .heading-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
.heading .heading-title {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 67px;
  font-weight: 700;
  line-height: 85px;
  text-align: center; }
.heading .heading-description {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center; }

.clip-section {
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clip-path: polygon(50% 30px, 0 100%, 100% 100%);
  height: 80px; }

.main-section {
  overflow: visible; }
.main-section .main-block {
  padding-top: 50px;
  padding-bottom: 5px; }
.main-section .base-page {
  width: 100%; }
.main-section .questions-list {
  border-bottom: 1px solid #d8d8; }
.main-section .overflow {
  overflow: hidden; }
.main-section .questions-item {
  min-height: 126px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #d8d8d8;
  border-left: none; }
.main-section .questions-item:nth-of-type(2n) {
  border-right: none; }
.main-section .questions-item .questions-title {
  color: #131313;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700; }
.main-section .questions-item .questions-answer {
  margin-top: 20px;
  color: #131313;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px; }
.main-section .curent-news-background {
  position: relative;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  background: url("../img/news-image.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
.main-section .curent-news-background .title-background {
  padding: 70px 0;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 68px;
  font-weight: 500;
  line-height: 68px;
  text-transform: uppercase;
  text-align: center; }
.main-section .curent-news-text {
  margin-top: 20px; }
.main-section .curent-news-text .paragraph {
  margin-bottom: 30px;
  color: #31353d;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px; }
.main-section .news-list-item {
  padding: 30px 0 40px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #dfdfdf; }
.main-section .news-list-item:last-child {
  border: none;
  padding-bottom: 0; }
.main-section .news-list-item .item-text {
  padding-right: 65px;
  width: 72%; }
.main-section .news-list-item .item-text .item-title {
  color: #0159a1;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase; }
.main-section .news-list-item .item-text .news-text {
  margin-top: 20px; }
.main-section .news-list-item .item-text .news-text .paragraph {
  margin-bottom: 30px;
  color: #31353d;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; }
.main-section .news-list-item .item-text .news-text b.bold-500 {
  font-weight: 500;
  font-family: Montserrat; }
.main-section .news-list-item .item-text .more-info {
  display: inline-block;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  background-color: #0159a1;
  padding: 19px 90px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer; }
.main-section .news-list-item .item-text .more-info:hover {
  text-decoration: none; }
.main-section .news-list-item .news-background {
  width: 28%; }
.main-section .about-block {
  padding: 0; }
.main-section .about-block h2.section-title {
  text-transform: none; }
.main-section .about-block .paragraph {
  color: #131313;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 28px; }
.main-section .about-block .subtitle {
  margin-top: 30px; }
.main-section .about-block h3.text-title {
  color: #131313;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px; }
.main-section .about-block .image-block img{
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16); }
.main-section .about-block .about-content {
  margin-top: 60px; }
.main-section .about-block .about-content .text-link {
  color: #0159a1;
  text-decoration: underline !important; }
.main-section .about-block .about-content .bold-700 {
  font-family: "Open Sans";
  font-weight: 700; }
.main-section .about-block .about-content .document-base {
  display: inline-block;
  color: #0159a1;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  padding: 15px 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #0159a1;
  margin-top: 30px; }
.main-section .about-block .ways-title {
  color: #131313;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  margin: 60px 0 40px 0;
  text-align: center; }
.main-section .about-block .ways-earning {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 110px; }
.main-section .about-block .ways-earning .ways-list {
  position: relative;
  width: 100%; }
.main-section .about-block .ways-earning .list-item {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #131313;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 23px; }
.main-section .about-block .ways-earning .item-1 {
  top: -70px;
  left: 305px; }
.main-section .about-block .ways-earning .item-2 {
  top: 102px;
  left: 400px; }
.main-section .about-block .ways-earning .item-3 {
  top: 280px;
  left: 470px; }
.main-section .about-block .ways-earning .item-4 {
  top: 452px;
  left: 437px; }
.main-section .about-block .ways-earning .item-5 {
  top: 628px;
  left: 330px; }
.main-section .contact-form {
  padding: 0 0 85px 0;
  position: relative;
  width: 100%; }
.main-section .contact-form .form-item {
  margin-top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
.main-section .contact-form .form-item .field-name {
  color: #131313;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px; }
.main-section .contact-form .form-item .field-value {
  padding: 15px 20px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-color: #ececec;
  color: #131313;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  border: none; }
.main-section .contact-form .form-item textarea.field-value {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  min-height: 166px; }
.main-section .contact-form .submit {
  margin-top: 60px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 20px 68px;
  background-color: #33d920;
  outline: none;
  border: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700; }
.main-section .base-list {
  padding-top: 15px;
  margin: 0 -7.5px; }
.main-section .base-list .base-item {
  padding: 10px 7.5px; }
.main-section .base-list .base-item .item-container {
  position: relative;
  display: block;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px 15px;
  padding-bottom: 45px;
  text-decoration: none;
  min-height: 314px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.main-section .base-list .base-item .item-container .item-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px; }
.main-section .base-list .base-item .item-container .item-title .title-img {
  max-width: 120px;
  max-height: 63px; }
.main-section .base-list .base-item .item-container .item-title .title-text {
  color: #131313;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  margin-left: 15px; }
.main-section .base-list .base-item .item-container .item-description {
  color: #131313;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5; }
.main-section .base-list .base-item .item-container .item-check {
  position: absolute;
  width: 100%;
  bottom: 22px;
  text-align: center;
  color: #131313;
  font-size: 18px;
  -webkit-box-shadow: none;
  box-shadow: none; }
.main-section .base-list .base-item .item-container .item-check span {
  padding-left: 10px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700; }
.main-section .base-list .base-item .item-container .item-check:hover {
  color: #0159a1; }
.main-section .base-list .base-item .item-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.16);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.main-section .base-list .base-item .item-container:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
.main-section .base-list .base-item .item-container:hover::after {
  opacity: 1; }
.main-section .partners-title {
  color: #131313;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 35px;
  text-align: center; }
.main-section .partners-text {
  padding: 0 20px 0 40px; }
.main-section .partners-text .paragraph {
  color: #131313;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px; }
.main-section .rate-title {
  color: #131313;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 22px; }

.main-section .accordion-list {
  margin-bottom: 40px; }
.main-section .accordion-list:last-child {
  margin-bottom: 0; }
.main-section  .card {
  background-color: transparent;
  border: none;
  padding-bottom: 20px; }
.main-section  .card .btn-collapse {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: url("../img/lang-arrow.png") no-repeat right 14px top 50%;
  background-color: #fff;
  cursor: pointer;
  color: #131313;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  padding: 17px 20px;
  width: 100%;
  border: 1px solid #d8d8d8;
  outline: none;
  text-align: left; }
.main-section .card .collapsed {
  background-color: #8e8e8e;
  color: #ffffff; }
.main-section  .card .card-body {
  padding: 0; }
.main-section  .card .card-body .description {
  color: #131313;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin: 10px 0; }
.main-section .card .card-body .parameter-list {
  margin-bottom: 15px; }
.main-section  .card .card-body .parameter-list .parameter-item {
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 0;
  color: #131313;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2 }
.main-section  .card .card-body .parameter-list .parameter-item .title {
  font-weight: 700; }
.main-section  .card .card-body .note {
  color: #eb1717;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px; }
.main-section  .card .card-body .calculate {
  margin-bottom: 0; }
.main-section .card a.calculate {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;
  background-color: #33d920;
  padding: 17px 65px;
  outline: none;
  border: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-align: center; }
.main-section .calculate-profit a.calculate {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;
  background-color: #33d920;
  padding: 17px 65px;
  outline: none;
  border: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-align: center; }
.main-section .calculate-profit .rate-title {
  color: #030d42;
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px; }
.main-section .calculate-profit .button-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px; }
.main-section .calculate-profit .button-group .calculate-option {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #030d42;
  padding: 10px 40px;
  width: 260px;
  text-align: center;
  color: #030d42;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  background-color: transparent;
  cursor: pointer;
  outline: none; }
.main-section .calculate-profit .button-group .calculate-option.active, .main-section .calculate-profit .button-group .calculate-option:hover {
  background-color: #030d42;
  color: #fff; }
.main-section .calculate-profit .invest-steps {
  margin-bottom: 60px; }
.main-section .calculate-profit .invest-steps .steps-item {
  margin-bottom: 20px; }
.main-section .calculate-profit .invest-steps .step-title {
  color: #030d42;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px; }
.main-section .calculate-profit .invest-steps .currency-group {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px; }
.main-section .calculate-profit .invest-steps .currency-group .currency-item {
  position: relative;
  margin-bottom: 20px; }
.main-section .calculate-profit .invest-steps .currency-group .currency-item label {
  padding-left: 26px;
  color: #030d42;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  vertical-align: bottom; }
.main-section .calculate-profit .invest-steps .currency-group .currency-item input[type=radio] {
  visibility: hidden;
  position: absolute; }
.main-section .calculate-profit .invest-steps .currency-group .currency-item input[type=radio] + label:before {
  position: absolute;
  left: 0;
  top: 2px;
  height: 16px;
  width: 16px;
  content: " ";
  display: block;
  -webkit-box-shadow: inset 0 0 0 1px #777;
  box-shadow: inset 0 0 0 1px #777;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  vertical-align: middle; }
.main-section .calculate-profit .invest-steps .currency-group .currency-item input[type=radio]:checked + label:before {
  background-color: #030d42;
  -webkit-box-shadow: inset 0 0 0 1px #777, inset 0 0 0 4px #ffffff;
  box-shadow: inset 0 0 0 1px #777, inset 0 0 0 4px #ffffff; }
.main-section .calculate-profit .invest-steps .amount::-webkit-outer-spin-button, .main-section .calculate-profit .invest-steps .amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none; }
.main-section .calculate-profit .invest-steps .amount {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #030d42;
  background-color: #ffffff;
  outline: none;
  padding: 12px;
  text-align: center;
  min-width: 260px;
  margin: 0 auto;
  color: #030d42;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600; }
.main-section .calculate-profit .invest-steps input[type=range] {
  -webkit-appearance: none;
  margin-top: 35px;
  margin-right: 15px;
  width: 100%; }
.main-section .calculate-profit .invest-steps input[type=range]:focus {
  outline: none; }
.main-section .calculate-profit .invest-steps input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #030d42;
  border: 0.2px solid #010101; }
.main-section .calculate-profit .invest-steps input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 3px solid #030d42;
  background-color: #ffffff;
  height: 22px;
  width: 22px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px; }
.main-section .calculate-profit .invest-steps input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #030d42; }
.main-section .calculate-profit .invest-steps input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 6px;
  background-color: #030d42; }
.main-section .calculate-profit .invest-steps input[type=range]::-moz-range-thumb {
  border: 3px solid #030d42;
  background-color: #ffffff;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  cursor: pointer; }
.main-section .calculate-profit .invest-steps .total {
  -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px; }
.main-section .calculate-profit .invest-steps .total .total-parameter {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
.main-section .calculate-profit .invest-steps .total .total-parameter .title {
  color: #030d42;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  width: 70%; }
.main-section .calculate-profit .invest-steps .total .total-parameter .value {
  color: #030d42;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700; }
.main-section .calculate-profit .rate-plan .title-plan {
  color: #131313;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 115px;
  text-align: center; }
.main-section .calculate-profit .rate-plan .plan-category {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #030d42;
  padding: 15px 20px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 60px; }
.main-section .calculate-profit .rate-plan .accordion-list {
  margin-bottom: 120px; }
.main-section .calculate-profit .rate-plan .accordion-list:last-child {
  margin-bottom: 0; }
.main-section .calculate-profit .rate-plan .card {
  background-color: transparent;
  border: none;
  padding-bottom: 20px; }
.main-section .calculate-profit .rate-plan .card .btn-collapse {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: url("../img/lang-arrow.png") no-repeat right 14px top 22px;
  background-color: #fff;
  cursor: pointer;
  color: #131313;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  padding: 17px 20px;
  width: 100%;
  border: 1px solid #d8d8d8;
  outline: none;
  text-align: left; }
.main-section .calculate-profit .rate-plan .card .collapsed {
  background-color: #8e8e8e;
  color: #ffffff; }
.main-section .calculate-profit .rate-plan .card .card-body {
  padding: 0; }
.main-section .calculate-profit .rate-plan .card .card-body .description {
  color: #131313;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin: 10px 0; }
.main-section .calculate-profit .rate-plan .card .card-body .parameter-list {
  margin-bottom: 15px; }
.main-section .calculate-profit .rate-plan .card .card-body .parameter-list .parameter-item {
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 0;
  color: #131313;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400; }
.main-section .calculate-profit .rate-plan .card .card-body .parameter-list .parameter-item .title {
  font-weight: 700; }
.main-section .calculate-profit .rate-plan .card .card-body .note {
  color: #eb1717;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px; }
.main-section .calculate-profit .rate-plan .card .card-body .calculate {
  margin-bottom: 20px; }

@media (min-width: 1200px) and (max-width: 1919px) {
  .main-section .about-block .image-block {
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16); }
  .heading {
    margin-top: 75px; }
  .heading .heading-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .heading .heading-title {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 38px;
    font-weight: 700;
    line-height: 1.5; }
  .heading .heading-description {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center; }
  .clip-section {
    -webkit-clip-path: polygon(50% 30px, 0 100%, 100% 100%);
    clip-path: polygon(50% 30px, 0 100%, 100% 100%);
    height: 80px; }
  .main-section {
    overflow: visible; }
  .main-section .main-block {
    padding-top: 50px;
    padding-bottom: 5px; }
  .main-section .base-list {
    padding: 0 100px;
    padding-top: 15px;
    margin: 0 -7.5px; }
  .main-section .base-list .base-item {
    padding: 10px 7.5px; }
  .main-section .news-list-item {
    padding: 30px 0 40px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #dfdfdf; }
  .main-section .news-list-item:last-child {
    border: none;
    padding-bottom: 0; }
  .main-section .news-list-item .item-text {
    padding-right: 20px;
    width: 50%; }
  .main-section .news-list-item .item-text .item-title {
    color: #0159a1;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase; }
  .main-section .news-list-item .item-text .news-text {
    margin-top: 20px; }
  .main-section .news-list-item .item-text .news-text .paragraph {
    margin-bottom: 30px;
    color: #31353d;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5; }
  .main-section .news-list-item .item-text .news-text b.bold-500 {
    font-weight: 500;
    font-family: Montserrat; }
  .main-section .news-list-item .item-text .more-info {
    display: inline-block;
    -webkit-border-radius: 32px;
    border-radius: 32px;
    background-color: #0159a1;
    padding: 19px 90px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer; }
  .main-section .news-list-item .item-text .more-info:hover {
    text-decoration: none; }
  .main-section .news-list-item .news-background {
    width: 50%; }
  .main-section .news-list-item .news-background img {
    width: 100%; }
  .main-section .contact-form {
    padding: 0 0 30px 0; }
  .main-section .contact-form .submit {
    margin-top: 25px; }
  .main-section .questions-list {
    border-bottom: 1px solid #d8d8; }
  .main-section .overflow {
    overflow: hidden; }
  .main-section .questions-item {
    border: 1px solid #d8d8d8;
    border-left: none;
    border-right: none; }
  .main-section .questions-item:first-of-type {
    border-top: none; }
  .main-section .questions-item .questions-title {
    color: #131313;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700; }
  .main-section .questions-item .questions-answer {
    margin-top: 20px;
    color: #131313;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px; }
  .main-section .partners-title {
    color: #131313;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center; }
  .main-section .partners-text {
    padding: 0 0 0 40px; }
  .main-section .partners-text .paragraph {
    color: #131313;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px; }
  .main-section .rate-title {
    color: #131313;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 22px; }
  .main-section .rate-list {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/lang-arrow.png") no-repeat right 14px top 22px;
    background-color: #8e8e8e;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 22px;
    padding: 17px 20px;
    width: 100%;
    outline: none; }
  .main-section .calculate-profit a.calculate {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    display: inline-block;
    background-color: #33d920;
    padding: 17px 65px;
    outline: none;
    border: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    cursor: pointer; }
  .main-section .calculate-profit .rate-title {
    margin-bottom: 25px; }
  .main-section .calculate-profit .button-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 20px; }
  .main-section .calculate-profit .button-group .calculate-option {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #030d42;
    padding: 10px;
    width: 164px;
    text-align: center;
    color: #030d42;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin-right: 16px; }
  .main-section .calculate-profit .invest-steps {
    margin-bottom: 60px; }
  .main-section .calculate-profit .invest-steps .steps-item {
    margin-bottom: 20px; }
  .main-section .calculate-profit .invest-steps .step-title {
    color: #030d42;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px; }
  .main-section .calculate-profit .invest-steps .currency-group {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px; }
  .main-section .calculate-profit .invest-steps .currency-group .currency-item {
    position: relative;
    margin-bottom: 20px; }
  .main-section .calculate-profit .invest-steps .currency-group .currency-item label {
    padding-left: 26px;
    color: #030d42;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    vertical-align: bottom; }
  .main-section .calculate-profit .invest-steps .currency-group .currency-item input[type=radio] {
    visibility: hidden;
    position: absolute; }
  .main-section .calculate-profit .invest-steps .currency-group .currency-item input[type=radio] + label:before {
    position: absolute;
    left: 0;
    top: 2px;
    height: 16px;
    width: 16px;
    content: " ";
    display: block;
    -webkit-box-shadow: inset 0 0 0 1px #777;
    box-shadow: inset 0 0 0 1px #777;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
    vertical-align: middle; }
  .main-section .calculate-profit .invest-steps .currency-group .currency-item input[type=radio]:checked + label:before {
    background-color: #030d42;
    -webkit-box-shadow: inset 0 0 0 1px #777, inset 0 0 0 4px #ffffff;
    box-shadow: inset 0 0 0 1px #777, inset 0 0 0 4px #ffffff; }
  .main-section .calculate-profit .invest-steps .amount::-webkit-outer-spin-button, .main-section .calculate-profit .invest-steps .amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none; }
  .main-section .calculate-profit .invest-steps .amount {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #030d42;
    background-color: #ffffff;
    outline: none;
    padding: 12px;
    text-align: center;
    min-width: 260px;
    margin: 0 auto;
    color: #030d42;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600; }
  .main-section .calculate-profit .invest-steps input[type=range] {
    -webkit-appearance: none;
    margin-top: 35px;
    margin-right: 15px;
    width: 100%; }
  .main-section .calculate-profit .invest-steps input[type=range]:focus {
    outline: none; }
  .main-section .calculate-profit .invest-steps input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #030d42;
    border: 0.2px solid #010101; }
  .main-section .calculate-profit .invest-steps input[type=range]::-webkit-slider-thumb {
    -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 3px solid #030d42;
    background-color: #ffffff;
    height: 22px;
    width: 22px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px; }
  .main-section .calculate-profit .invest-steps input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: #030d42; }
  .main-section .calculate-profit .invest-steps input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    border-radius: 6px;
    background-color: #030d42; }
  .main-section .calculate-profit .invest-steps input[type=range]::-moz-range-thumb {
    border: 3px solid #030d42;
    background-color: #ffffff;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    cursor: pointer; }
  .main-section .calculate-profit .invest-steps .total {
    -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 15px; }
  .main-section .calculate-profit .invest-steps .total .total-parameter {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .main-section .calculate-profit .invest-steps .total .total-parameter .title {
    color: #030d42;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    width: 70%; }
  .main-section .calculate-profit .invest-steps .total .total-parameter .value {
    color: #030d42;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700; }
  .main-section .calculate-profit .rate-plan .title-plan {
    color: #131313;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 115px;
    text-align: center; }
  .main-section .calculate-profit .rate-plan .plan-category {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #030d42;
    padding: 15px 20px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px; }
  .main-section .calculate-profit .rate-plan .card {
    background-color: transparent;
    border: none;
    padding-bottom: 20px; }
  .main-section .calculate-profit .rate-plan .card .btn-collapse {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: url("../img/lang-arrow.png") no-repeat right 14px top 22px;
    background-color: #fff;
    cursor: pointer;
    color: #131313;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 700;
    padding: 17px 20px;
    width: 100%;
    border: 1px solid #d8d8d8;
    outline: none;
    text-align: left; }
  .main-section .calculate-profit .rate-plan .card .collapsed {
    background-color: #8e8e8e;
    color: #ffffff; }
  .main-section .calculate-profit .rate-plan .card .card-body {
    padding: 0; }
  .main-section .calculate-profit .rate-plan .card .card-body .description {
    color: #131313;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 10px 0; }
  .main-section .calculate-profit .rate-plan .card .card-body .parameter-list {
    margin-bottom: 15px; }
  .main-section .calculate-profit .rate-plan .card .card-body .parameter-list .parameter-item {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 0;
    color: #131313;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400; }
  .main-section .calculate-profit .rate-plan .card .card-body .parameter-list .parameter-item .title {
    font-weight: 700; }
  .main-section .calculate-profit .rate-plan .card .card-body .note {
    color: #eb1717;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px; }
  .main-section .calculate-profit .rate-plan .card .card-body .calculate {
    margin-bottom: 20px; }
  .main-section .about-block {
    padding: 0; }
  .main-section .about-block h2.section-title {
    text-transform: none; }
  .main-section .about-block .paragraph {
    color: #131313;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 28px; }
  .main-section .about-block .subtitle {
    margin-top: 30px; }
  .main-section .about-block h3.text-title {
    color: #131313;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px; }
  .main-section .about-block .image-block {
    position: relative;
    overflow: hidden; }
  .main-section .about-block .image-block img {
    position: absolute;
    left: 50%;
    max-width: none;
    height: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .main-section .about-block .about-content {
    margin-top: 60px; }
  .main-section .about-block .about-content .text-link {
    color: #0159a1;
    text-decoration: underline !important; }
  .main-section .about-block .about-content .bold-700 {
    font-family: "Open Sans";
    font-weight: 700; }
  .main-section .about-block .about-content .document-base {
    display: inline-block;
    color: #0159a1;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid #0159a1;
    margin-top: 30px; }
  .main-section .about-block .ways-title {
    color: #131313;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 700;
    margin: 60px 0 40px 0;
    text-align: center; }
  .main-section .about-block .ways-earning {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 110px; }
  .main-section .about-block .ways-earning .ways-block-1 {
    max-width: 328px; }
  .main-section .about-block .ways-earning .ways-block-2 {
    max-width: 287px; }
  .main-section .about-block .ways-earning .ways-list {
    position: relative;
    width: 100%; }
  .main-section .about-block .ways-earning .list-item {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #131313;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 600;
    line-height: 23px; }
  .main-section .about-block .ways-earning .list-item img {
    max-width: 83px; }
  .main-section .about-block .ways-earning .item-1 {
    top: -40px;
    left: 185px; }
  .main-section .about-block .ways-earning .item-2 {
    top: 67px;
    left: 245px; }
  .main-section .about-block .ways-earning .item-3 {
    top: 173px;
    left: 288px; }
  .main-section .about-block .ways-earning .item-4 {
    top: 278px;
    left: 265px; }
  .main-section .about-block .ways-earning .item-5 {
    top: 386px;
    left: 201px; } }

@media (max-width: 1199px) {
  .users-block {
    width: 100%; }
  .heading {
    margin-top: 40px; }
  .heading .heading-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .heading .heading-title {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center; }
  .heading .heading-description {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center; }
  .clip-section {
    -webkit-clip-path: polygon(50% 30px, 0 100%, 100% 100%);
    clip-path: polygon(50% 30px, 0 100%, 100% 100%);
    height: 75px; }
  .main-section {
    overflow: visible; }
  .main-section .main-block {
    padding-top: 35px;
    padding-bottom: 5px; }
  .main-section .main-block .curent-news-background {
    position: relative;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    background: url("../img/news-image.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
  .main-section .main-block .curent-news-background .title-background {
    padding: 25px 0;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    line-height: 1; }
  .main-section .main-block .curent-news-text {
    margin-top: 20px; }
  .main-section .main-block .curent-news-text .paragraph {
    margin-bottom: 30px;
    color: #31353d;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px; }
  .main-section .news-list-item {
    padding: 30px 0 40px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #dfdfdf; }
  .main-section .news-list-item:last-child {
    border: none;
    padding-bottom: 0; }
  .main-section .news-list-item .item-text {
    padding-right: 0;
    width: 100%; }
  .main-section .news-list-item .item-text .item-title {
    color: #0159a1;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase; }
  .main-section .news-list-item .item-text .news-text {
    margin-top: 20px; }
  .main-section .news-list-item .item-text .news-text .paragraph {
    margin-bottom: 30px;
    color: #31353d;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; }
  .main-section .news-list-item .item-text .news-text b.bold-500 {
    font-weight: 500;
    font-family: Montserrat; }
  .main-section .news-list-item .item-text .more-info {
    display: inline-block;
    -webkit-border-radius: 32px;
    border-radius: 32px;
    background-color: #0159a1;
    padding: 19px 90px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer; }
  .main-section .news-list-item .item-text .more-info:hover {
    text-decoration: none; }
  .main-section .news-list-item .news-background {
    width: 100%;
    margin: 10px 0; }
  .main-section .news-list-item .news-background img {
    width: 100%; }
  .main-section .contact-form {
    padding: 0; }
  .main-section .contact-form .submit {
    margin-top: 20px; }
  .main-section .questions-list {
    border-bottom: 1px solid #d8d8; }
  .main-section .overflow {
    overflow: hidden; }
  .main-section .questions-item {
    border: 1px solid #d8d8d8;
    border-left: none;
    border-right: none; }
  .main-section .questions-item:first-of-type {
    border-top: none;
    padding-top: 0; }
  .main-section .questions-item .questions-title {
    color: #131313;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700; }
  .main-section .questions-item .questions-answer {
    margin-top: 20px;
    color: #131313;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px; }
  .main-section .partners-title {
    color: #131313;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 22px;
    text-align: center; }
  .main-section .partners-text {
    padding: 0; }
  .main-section .partners-text .paragraph {
    color: #131313; }
  .main-section .partners-text .paragraph:last-child {
    margin-bottom: 10px; }
  .main-section .rate-title {
    color: #131313;
    font-family: Montserrat;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 10px; }
  .main-section .rate-list {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/rate.png") no-repeat right 10px top 24px;
    background-color: #8e8e8e;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 22px;
    padding: 17px 20px;
    padding-right: 30px;
    width: 100%;
    outline: none;
    margin-bottom: 0; }
  .main-section .card a.calculate {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    display: inline-block;
    background-color: #33d920;
    padding: 17px 50px;
    outline: none;
    border: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    cursor: pointer; }
  .main-section .calculate-profit a.calculate {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    display: inline-block;
    background-color: #33d920;
    padding: 17px 50px;
    outline: none;
    border: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    cursor: pointer; }
  .main-section .calculate-profit .rate-title {
    margin-bottom: 25px;
    font-size: 22px; }
  .main-section .calculate-profit .button-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0; }
  .main-section .calculate-profit .button-group .calculate-option {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #030d42;
    padding: 10px;
    width: 164px;
    text-align: center;
    color: #030d42;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin-right: 0;
    margin-bottom: 20px; }
  .main-section .calculate-profit .invest-steps {
    margin-bottom: 40px; }
  .main-section .calculate-profit .invest-steps .steps-item {
    margin-bottom: 20px; }
  .main-section .calculate-profit .invest-steps .step-title {
    color: #030d42;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px; }
  .main-section .calculate-profit .invest-steps .currency-group {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px; }
  .main-section .calculate-profit .invest-steps .currency-group .currency-item {
    position: relative;
    margin-bottom: 20px; }
  .main-section .calculate-profit .rate-plan .title-plan {
    color: #131313;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center; }
  .main-section .calculate-profit .rate-plan .plan-category {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #030d42;
    padding: 15px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px; }
  .main-section .calculate-profit .rate-plan .accordion-list {
    margin-bottom: 40px; }
  .main-section .calculate-profit .rate-plan .accordion-list:last-child {
    margin-bottom: 0; }
  .main-section .calculate-profit .rate-plan .card {
    background-color: transparent;
    border: none;
    padding-bottom: 20px; }
  .main-section .calculate-profit .rate-plan .card .btn-collapse {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: url("../img/lang-arrow.png") no-repeat right 14px top 50%;
    background-color: #fff;
    cursor: pointer;
    color: #131313;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    padding: 17px 20px;
    width: 100%;
    border: 1px solid #d8d8d8;
    outline: none;
    text-align: left; }
  .main-section .calculate-profit .rate-plan .card .collapsed {
    background-color: #8e8e8e;
    color: #ffffff; }
  .main-section .calculate-profit .rate-plan .card .card-body {
    padding: 0; }
  .main-section .calculate-profit .rate-plan .card .card-body .description {
    color: #131313;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 10px 0; }
  .main-section .calculate-profit .rate-plan .card .card-body .parameter-list {
    margin-bottom: 15px; }
  .main-section .calculate-profit .rate-plan .card .card-body .parameter-list .parameter-item {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 0;
    color: #131313;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400; }
  .main-section .calculate-profit .rate-plan .card .card-body .parameter-list .parameter-item .title {
    font-weight: 700; }
  .main-section .calculate-profit .rate-plan .card .card-body .note {
    color: #eb1717;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px; }
  .main-section .calculate-profit .rate-plan .card .card-body .calculate {
    margin-bottom: 0; }
  .main-section .about-block {
    padding: 0; }
  .main-section .about-block h2.section-title {
    text-transform: none; }
  .main-section .about-block .paragraph {
    color: #131313;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 28px; }
  .main-section .about-block .subtitle {
    margin-top: 30px; }
  .main-section .about-block h3.text-title {
    color: #131313;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px; }
  .main-section .about-block .image-block {
    position: relative;
    overflow: hidden; }
  .main-section .about-block .image-block img {
    position: absolute;
    left: 50%;
    max-width: none;
    height: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .main-section .about-block .about-content {
    margin-top: 30px; }
  .main-section .about-block .about-content .text-link {
    color: #0159a1;
    text-decoration: underline !important; }
  .main-section .about-block .about-content .bold-700 {
    font-family: "Open Sans";
    font-weight: 700; }
  .main-section .about-block .about-content .document-base {
    display: inline-block;
    color: #0159a1;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid #0159a1;
    margin-top: 30px; }
  .main-section .about-block .ways-title {
    color: #131313;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0 40px 0;
    text-align: center; }
  .main-section .about-block .ways-earning {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px; }
  .main-section .about-block .ways-earning .ways-block-1 {
    max-width: 328px; }
  .main-section .about-block .ways-earning .ways-block-2 {
    max-width: 287px;
    display: none; }
  .main-section .about-block .ways-earning .ways-list {
    position: static;
    width: 100%; }
  .main-section .about-block .ways-earning .list-item {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #131313;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 600;
    line-height: 23px;
    margin-top: 20px; }
  .main-section .about-block .ways-earning .list-item img {
    max-width: 83px; } }
